@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
p, h1, h2, h3, h4, h5,label{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 350px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 1px solid rgb(145, 145, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.textarea{
    width: 300px;
    height: 40px;
    border: 2px solid rgb(45, 54, 85);
    border-radius: 5px;
}
.ContactInformation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 30px;
}
.PersonalInformation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 30px;
}
